.navbar{
    border: 1px solid black;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    position: fixed;
    background: #17A8E1;
}

.logoBox{
    border: 1px solid black;
    width: 10%;
    height: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.shopBox{

    border: 1px solid black;
}

.aboutBox{
    border: 1px solid black;
}

.blogBox{
    border: 1px solid black;
}

.navLinks{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;

}