 /* .blogHeader{
    width: 100%;
    height: 170px;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/* .blogBody{
    width: 100%;
    height: 800px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    border: 1px solid black;
} */


/* .textEditor{
    height: 200px;
    width: 400px;
    
}
.blogTitleInput{
    border: 1px solid black;
    
    margin-top: 7px;
    margin-bottom: 7px;
}

.bottomEditor{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}



.modal{
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 8px 8px 8px 8px
    rgba(0, 0, 0, 0.2);
}



.image{
    height: 100px;
    width: 100px;
} */



/* .blogsContainer{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
    height: 1000px;
} */

/* .blogsContainer li {
  
} */

/* .blogContainerRight{
    border: 1px solid black;
    width: 28%;
    padding: 5px;
} */

/* .postright {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
} */
/* 
.blogParent {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: baseline;
    height: 90vh;

    
}

.blogMain {
    height: 80vh; 
    width: 80%;
    border:1px solid black;
    overflow: auto;
    margin-right: 2vh;
    margin-left: 3vh;
    
}

.blogRight {
    height: 80vh;
    width: 20%;
    border: 1px solid black;

}

.blogPostParent {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: baseline;
}

.userIcon {
    height: 25vh;
    width: 20vh;
    background-color: blue;
    float:left;
}

.blogTitle {

    background-color: red;
} */ 