.blogHeader{
    width: 100%;
    height: 30vh;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 10%;
  
}

.blogHeaderImage{
    width: 100%;
}

.blogParent{
    width: 100%;
    height: 800px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    border: 1px solid black;
    
}
.blogMain{
    border: 1px solid black;
    display: flex;
    width: 74%;    
    padding: 8px;
    background: blue;
    
    
}


   
  .blogMain h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }
   
  .blogMain li img {
    float: left;
    margin: 0 15px 0 0;
  }
   
  .blogMain li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }
   
  .blogMain li {
      text-align: left;
      list-style-type: none;
    padding: 13px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 0 6px 6px 0
    rgba(0, 0, 0, 0.2);
    background-color: white;
   transition: .73s;
   max-height: 250px;
  }

   
  .blogMain li:hover {
    background: #eee;
    cursor: pointer;
  } 

  .blogListContainer{
      padding: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    overflow: hidden;
    background: blue;
   
}
 .blogListContainer:hover{
     overflow-y: scroll;
 }

 blogBoxEntire{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
 }

.blogUserContainer{
    text-align: left;
}
 .blogImage{
     margin-top: 10px;
    height: 110px;
    width: 110px;
}
.blogRight{
    width: 24%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
}

.blogRightUserBox{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.blogRightBox{
    width: 100%;
    
}
.blogRightImage{
    width: 200px;
    height: 200px;
}

.blogRightUserInfo{
    padding: 5px;
}
.blogRightAddPostButton{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 9px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}

.addPostBox{
    width: 100%;
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

 .textEditor{
    height: 200px;
    width: 400px;
    
}
.blogTitleInput{
    border: 1px solid black;
    
    margin-top: 7px;
    margin-bottom: 7px;
}

.bottomEditor{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}



.modal{
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 8px 8px 8px 8px
    rgba(0, 0, 0, 0.2);
}
