.header{
    height: 150px;
}

.mainBody{
    margin-left: 10%;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 400px;
    border: 1px solid black;
    flex-direction: column;
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 5px 8px 8px 0
    rgba(0, 0, 0, 0.2);
}

.viewAddPost{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    
}

.noAddPost{
    display: none;
}

.textEditor{
    height: 200px;
    
}
.blogTitleInput{
    margin-bottom: 7px;
}

.bottomEditor{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}
