.blogBackground{
    background-color: #FFFFFF;
}

.blogHeader{
    width: 100%;
    height: 40vh;
   
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 5%;
    
  
}

.blogHeaderImage{
    width: 100%;
    height: 100%;
}

.blogBody{
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
}

.blogParent{
    width: 80%;
    min-height: 600px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    overflow: hidden;
    background-color: #36382E;
  
    
}
.blogMain{
    
    display: flex;
    width: 70%;    
    padding: 8px;


    
    
}

   
  .blogMain h3 {
    font: bold 28px
  }
   
  .blogMain li img {
    float: left;
    margin: 0 15px 0 0;
  }
   
  .blogMain li p {
    font: 200 12px
  }
   
  .blogMain li {
      text-align: left;
      list-style-type: none;
    padding: 13px;
    overflow: hidden;
    margin-bottom: 12px;
  
    transition: .73s;
   max-height: 250px;
   background-color: #F6F3F3;
  }

   
  .blogMain li:hover {
    background: rgb(255, 255, 255);
    cursor: pointer;
  } 

  /* .blogListContainer{
      padding: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    overflow: hidden;
    
   
} */
 /* .blogListContainer:hover{
     overflow-y: scroll;
 } */

 /* blogBoxEntire{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
 } */

.blogUserContainer{
    text-align: left;
}
 .blogImage{
     margin-top: 10px;
    height: 110px;
    width: 110px;
}
.blogRight{
    width: 24%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
}

.blogRightUserBox{
    width: 100%;
    background: #36382E;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.blogRightBox{
    width: 100%;
    
}
.blogRightImage{
    width: 200px;
    height: 200px;
}

.blogRightImage:hover{
    cursor: pointer;
}

.blogRightAddPostButton:hover{
    cursor: pointer;
    background-color: #9DE3FD
}
.blogRightImageBox{
    margin-top: 10px;
    
}

.blogRightUserInfo{
    padding: 5px;
    margin-top: 10px;
    color:#5BC3EB;
    font-weight: bold;
}
.blogRightAddPostButton{
    margin-bottom: 5px;
    background-color: #5BC3EB;
    border: none;
    color: white;
    padding: 9px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: .5s;
   
}

.addPostBox{
    margin-top: 10px;
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

 .textEditor{
    height: 400px;
    width: 600px;
    
}
.blogTitleInput{
   
    
    margin-top: 7px;
    margin-bottom: 7px;
}

.bottomEditor{
    display: flex;
    margin-top: 50px;
    justify-content: flex-end;
}



.modal{
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 8px 8px 8px 8px
    rgba(0, 0, 0, 0.2);
}
 .blogTitle h3{
     border-bottom: 1px solid #5BC3EB
 }

.blogTitle{
    border-bottom: 1px solid #5BC3EB;
}

.addCommentBox{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
    align-content: flex-start;
    transition: .73s
}

.commentInput{
    width: 40%;
    height: 40px;
}

.commentSection{
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: flex-start;
    background-color: #F5F3EE;
}

.blogAllContent{
    width: 100%;
    box-shadow: 0 10px 20px 0
    rgba(0, 0, 0, 0.1), 0 6px 6px 0
    rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: .73s;
    margin-bottom: 10px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: flex-start;
    background-color: #FFFFFF;
}

.userComment{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.commentUsername{
    margin-right: 5px;
}

.addCommentButton{
    margin-top: 10px;
    height: 47px;
    padding: 9px 45px;
    text-align: center;
    text-decoration: none;
    background-color: #6E44FF;
    color: white;

}

.addCommentButton:hover{
    cursor: pointer;
}

.editProfileBox{
    width:700px;
    height: 800px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
 
}

.editProfileTextAreaBox{
width: 80%;
height: 30%;
margin-top: 10px;
}

.editProfileTextArea{
    width:100%;
    height: 100%;
}

.editProfileImageBox{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.fileInput{
    align-content: center;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: flex-start;
    margin-left: 20px;
}