.productContainer{
    display: inline-block;
    justify-content: space-between;

    
}

.amazonProduct{
    width: 140px;
    height: 200px;
    margin-left: 100px;
    
}

.image{
    width: 150px;
    height: 200px;

}