a:link, a:visited { color: black; text-decoration: none; font-weight: bold;} 
/* a:active, a:hover { color: black;  font-size: 25px;} */
 .storeBody{
   background: #E8E1EF
 }

 @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.storeHeader{
  width: 100%;
  height: 90vh;
  display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
align-content: center;
background-image: url("https://images.pexels.com/photos/581339/pexels-photo-581339.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
background-size: 100%;
background-repeat: no-repeat;
}

.storeHeaderText{
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 100px;
  letter-spacing: 6px;
  margin-bottom: -10px;
  margin-top: 7px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
    
}

.storeHeaderContent{
  width: 100%;
}

.productContainer{
    padding-top: 40px;
   
    width: 72%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    transition: 1.2s;
    
}

.productBox:hover{
  transition: 1s;
  box-shadow: 0 10px 20px 0
  rgba(0, 0, 0, 0.1), 0 1px 1px 0
  rgba(0, 0, 0, 0.2);
  background: #FFFFFF;

}


.productBox{
  width: 24%;
  height: 295px;
  margin-bottom: 20px;
  padding-top: 20px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
  transition: 1s;
  margin-right: 8px;
  background: #FFFFFF;
  overflow: hidden;
}
 

.productImage{
    height: 250px;
    width: auto;
    transition: .73s;
  }

  .productDetails{
    width: 75%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
  }

  .viewButton {

    padding: 5px;
    transition: .73s;
  }

  .viewButton:hover {
   
    color: #5BC3EB;
    font-size: 18px;
  }