@import url('https://fonts.googleapis.com/css?family=Muli|Playfair+Display');

.newsBody{
    background-color: #FCF8F7;
    margin: -25px;
    
}
.newsBody h1 {
    font-family: 'Muli', sans-serif;
    transition: .73s;
}

.newsBody h2 {
    font-family: 'Muli', sans-serif;
    transition: .73s;
}

.newsBody h3 {
    font-family: 'Muli', sans-serif;
    transition: .73s;
    text-align: left;
}

p{
    font-family: 'Playfair Display', serif;
   
}

.newsBody h1:hover{
    color: #5BC3EB;
}
.newsBody h2:hover{
    color: #5BC3EB;
}
.newsBody h3:hover{
    color: #5BC3EB;
   
}

.articleContainer ul {
  list-style-type: none;
  width: 500px;
  padding: 5px;
  
 
}
 
.articleContainer h3 {
  font: bold 24px;
}
 
.articleContainer li img {
  float: left;
  margin: 0 15px 0 0;
}
 
.articleContainer li p {
  font: 200 18px;
}
 
.articleContainer li {
    list-style-type: none;
  padding: 10px;
  overflow: auto;
  margin-bottom: 12px;
  border-top: 1px solid #5BC3EB;
  transition: .73s;
  text-align: left;
  padding: 5px;

}
 
.articleContainer li:hover {
  background: #FFFFFF;
  box-shadow: 1px 1px 1px 0
  rgba(0, 0, 0, 0.1), 0 2px 2px 0
  rgba(0, 0, 0, 0.2);
  
} 

.sideArticleContainer li:hover {
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0
    rgba(0, 0, 0, 0.1), 0 2px 2px 0
    rgba(0, 0, 0, 0.2);
  
  } 

  .headArticle:hover{
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 0
    rgba(0, 0, 0, 0.1), 0 2px 2px 0
    rgba(0, 0, 0, 0.2);
  }

  .newsBackground {
    margin-top: 100px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  }
  .inTheNews{
      width: 100%;
      padding-bottom: -10px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-start;
      align-content: space-between;
      margin-top: 5%;
  }

.newsBodyContainer{
    width: 75%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: stretch;
    
}

.newsSubBody{
    width: 100%;
    background: #F06449;
    height: 400px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: space-between;
    margin-bottom: 5px;

}
.newsSubContentTitle{
    font-style: italic;
    font-style: bold;
    letter-spacing: 2px;
    font-size: 32px;
}

.newsSubContentSubtitle{
    font-size: 20px;
}

.newsBody2{
    width: 75%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.news2ArticleContainer{
    width:65%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
}

.news2Article{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center; 
    border-top: 1px solid #3B73A5;
    margin-bottom: 10px;
    transition: .73s;
    padding: 5px;
}

.news2Article:hover{
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 0
    rgba(0, 0, 0, 0.1), 0 2px 2px 0
    rgba(0, 0, 0, 0.2);
}

.news2ArticleImage{
    width: 230px;
    height: 175px;
    border: 1px solid gray;
    margin-right: 8px;
}

.news2ArticleDescription{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
    align-content: center;
    text-align: left;
}

.news2VideoContainer{
    width:30%;
    margin-left: 10px;
    border-left: 1px solid #3B73A5;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: center;
    padding: 5px;
}

.news2VideoBox{
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-bottom: 5px;
    border-top: 1px solid #3B73A5;
    transition: .73s;
    padding: 7px;
    text-align: center;
}

.news2VideoBox:hover{
    background: #FFFFFF;
    box-shadow: 1px 1px 1px 0
    rgba(0, 0, 0, 0.1), 0 2px 2px 0
    rgba(0, 0, 0, 0.2);
}

.news2VideoBoxImage{
    width: 80%;
    margin-top: 5px;
}

.newsSubContent{
    width:75%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.subContentTextBox{
    margin-right: 20px;
}

.blogLinkImage{
    width: 200px;
    height: 200px;
}

.newsDonateContainer{
    
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}

.newsLeftColumn{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
}
    

 .sideArticleContainer{
    
    width: 25%;
    padding: 5px;
    border-left: 1px solid #3B73A5
    
        }

        .sideArticleContainer li {
            list-style-type: none;
          padding: 10px;
          margin-bottom: 7px;
          transition: .73s;
          border-top: 1px solid #3B73A5;
        
        
        }
         
.headArticle{
    width: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: center;
    border-top: 1px solid #5BC3EB;
    transition: .73s;
    text-align: left;
   
   

}
        
.articleContainer{
    
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    width: 65%;    
    padding: 8px;
    
    
    
}

.articleListContainer{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
    align-content: center;
    
   
}




.newsHeader{
    width:75%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;
}



.aboutContainer{
    width: 100%;
    height: 300px;
    background: purple;
}

.sideNewsImage{
    width:50%;

}
.sideNewsArticleBox{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

.newsImage{
    width:20%;
}

.ad2Image{
    width:160px;
    height: 170px;
}

.mainArticleImageBox{
    width:100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}
.mainArticleImage{
    width:90%;
}

.mainArticleDescription{
    padding: 5px;
}
